.vscode/
.vs/
source/dev/CGAlertNoticeService/bin/
source/dev/CGAlertNoticeService/obj/
source/test/CGAlertNoticeService.Tests/bin/
source/test/CGAlertNoticeService.Tests/obj/
.fake
.ionide
/source/dev/DatabaseService/bin
/source/dev/DatabaseService/obj
/source/dev/DatabaseService/Migrations
/source/dev/DatabaseService/CGAlertDataSource.db
/Tofu.v3.ncrunchsolution.user
/source/dev/DatabaseService/DatabaseService.userosscache
/source/dev/SystemAPI/obj
/source/dev/SystemAPI/SystemAPI.userosscache
/FileService/obj
/FileService/FileService.userosscache
/RepoService/obj
/RepoService/RepoService.userosscache
/SystemAPI.Tests/obj
*.userosscache
/SystemAPI.Tests/bin
/source/dev/SystemAPI/bin
