.vscode/
.vs/
source/dev/CGAlertNoticeService/bin/
source/dev/CGAlertNoticeService/obj/
source/test/CGAlertNoticeService.Tests/bin/
source/test/CGAlertNoticeService.Tests/obj/
.fake
.ionide
/source/dev/DatabaseService/bin
/source/dev/DatabaseService/obj
